* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: whitesmoke;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}

/* container holding all content styling*/
.content-container {
    border: solid 3px #000;
    border-radius: 10px;
    padding: 0 0 750px 0;
    margin: 0 60px;
    background: white;
}

.title-container h3{
    font-weight: bolder;
}

.container {
    justify-content: center;
}

/* container for appended api content styling */
.content-wrapper {
    flex-wrap: wrap;
}

/* styling for date container */
.date-holder {
    background-color: rgb(196, 192, 192);
    display: inline-flex;
    width: 90%;
    margin: auto 25px 10px 90px;
    border: solid 2px #000;
    border-radius: 5px;
    
}

.current-date {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto auto auto 675px;
    justify-content: center;
    border: 4px solid rgb(196, 192, 192);
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    background-color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    width: 100%;
    padding: 40px 35px;
}

.btn {
    color: gray;
    border: solid 2px #000;
}

.modal-btn {
    background-color: black;
    border: 3px solid rgb(196, 192, 192);
    border-radius: 6px;
    color: whitesmoke;
}

.modal-header {
    background: rgb(138, 36, 36);
}

.modal-title {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.modal-footer {
    background: whitesmoke;
}

#option-item-select {
    border: 2px solid black;
    background: rgb(247, 247, 247);
}

.btn-cancel {
    color: rgb(48, 47, 47);
    background: rgb(238, 238, 238);
}

.btn-cancel:hover {
    color: rgb(48, 47, 47);
    background: lightgray;
}

.btn-accept {
    color: rgb(48, 47, 47);
    background: rgb(238, 238, 238);

}

.btn-accept:hover {
    color: rgb(48, 47, 47);
    background: lightgray;

}

/* media queries */
@media screen and (max-width: 1700px) { 
    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        display: flex;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto auto auto 510px;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}

@media screen and (max-width: 1400px) { 
    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto auto auto 510px;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}

 @media screen and (max-width: 1250px) { 
    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}


@media screen and (max-width: 980px) { 

    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}

@media screen and (max-width: 768px) { 
    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}

@media screen and (max-width: 575px) { 
    .content-container {
        border: solid 3px #000;
        border-radius: 10px;
        padding: 0 0 750px 0;
        margin: 0 60px;
        background: white;
    }
    
    .date-holder {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(196, 192, 192);
        border: solid 2px #000;
        border-radius: 5px;
    }

    .current-date {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: auto;
        justify-content: center;
        border: 4px solid rgb(196, 192, 192);
        border-radius: 7px;
        padding: 10px 30px 10px 30px;
        background-color: white;
    }
    .modal-btn {
        background-color: black;
        border: 3px solid rgb(196, 192, 192);
        border-radius: 6px;
        color: whitesmoke;
    }
}